* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing:    border-box;
   box-sizing:         border-box;
}

body, html{
    margin: 0;
    padding: 0;
}

body {
    background-color: #1BD1AC;
    -webkit-font-smoothing: antialiased;  
}

/*******Masthead*******/

.masthead {
    margin: 1em auto 0.75em auto;
    width: 60%;
    padding: 0.3em 0 5em 0;
    height: 275px;
    text-align: center;
    display: block; 
}

.title {
    margin: 0 auto 0.66em auto;
    background-color: white;
    height: 250px;
    overflow: hidden;
}

.title-text {
    font-family: Lato;
    font-size: 5.5em;
    color: #1BD1AC;
    margin: -0.2em 0 0.5em 0;
    padding: 0.5em 0;
}

.sub-title {
    font-size: 1em;
    color: #1BD1AC;
    margin: -4em 0;
}

/*******Form*******/

.input-control {
    margin: 0 0 1em 0;
    display: block;
    height: 1.5em;
    width: 100%;
    font-size: 2em;
}

.list-form[type="text"]{
    padding: 0 0 0 0.5em;
    border: 0;
    font-family: "Open Sans", sans-serif;
}

.list-form[type=text]:focus, textarea:focus {
    box-shadow: 0;
    border: 0;
    outline-width: 0;
}

.list-form {
    margin: 0 10px 0 0;
    padding: 0 0 0 1em;
    padding: 0;
    height: 100%;
    width: calc(100% - 90px);
    vertical-align: middle;
    float: left;
    font-size: 0.8em;
    font-family: Lato;
    border: 0;
}

.btn-container {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 100%;
    padding: 0;
    margin: 0;
    float: right;
    position: relative;
    background-color: transparent;
    z-index: 5;
}

.add-btn:hover, .plus {
    background-color: #FF822D;
    transition: background-color 0.5s;
    cursor: pointer;
}

.add-btn {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    border: 0;
}

.plus {
    margin: -10px 3px 0 0;
    font-size: 1.65em;
    vertical-align: middle;
    background-color: transparent;
    pointer-events: none;
}

.plus:hover {
    cursor: pointer;
}

/*******List Items*******/

.shopping-list {
    margin: 50px auto;
    padding: 0;
    width: 100%;
}

.list-item {
    margin: 34px auto 0 auto;
    padding: 0;
    height: 1.5em;
    width: 60%;
    display: none;
    position: relative;
}

.check-box {
    background-color: black;
}

.check-box-checked {
    background-color: lightgray;
}

.check-box, .check-box-checked {
    margin: 0 0 0 0;
    width: 80px;
    height: 3em;
    float: left;
    vertical-align: middle;
    position: relative;
}

.unchecked {
    margin: 10% auto 10% auto;
    height: 66%;
    width: 34px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 100%;
}

.checked {
    margin: 10% auto 10% auto;
    height: 66%;
    width: 34px;
    border: 3px solid white;
    border-radius: 100%;
    background-image: url(/images/checkmark.png);
    background-size: cover;
    font-size:2.1em;
    color:black;
}

.check-box:hover, .check-box-checked:hover {
    cursor: pointer;
}

.item-text {
    margin: 0 0 0 10px;
    padding: 2px 0 0 0.5em;
    font-size: 2em;
    font-family: "Open Sans", sans-serif;
    height: 1.5em;
    width: calc(100% - 90px);
    background-color: black;
    color: white;
    vertical-align: middle;
    float: right;
    position: relative;
}

.text-checked {
    background-color: lightgrey;
    text-decoration: line-through;
    color: black;
}

.delete {
    background-color: transparent;
    position: absolute;
    top: 0.1em;
    right: 1.4em;
    display: none;
}

.delete:hover {
    cursor: pointer;
}

/*******Media Queries*******/

@media only screen and (max-width: 930px) {
    /*title-section*/
    .title {
        height: 150px;
    }
    .title-text {
        font-size: 4em;
    }
    .sub-title {
        display: none;
    }
    /*list-section*/
    .shopping-list {
        margin: -85px auto;
    }
}

@media only screen and (max-width: 750px) {
    .masthead {
        width: 80%;
    }
    .list-item {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .list-form[type="text"] {
        font-size: 0.6em;
    }
    .list-form {
        margin: 0 0 10px 0;
        width: 100%;
    }
    .btn-container {
        width: 100%;
    }
    .plus {
    }
    .shopping-list {
        margin: -27px auto;
    }
    .item-text {
        padding: 7px 0 0 0.5em;
        height: 2em;
        font-size: 1.5em;
    }
    .delete {
        margin-top: 7px;
    }
}

@media only screen and (max-width: 500px) {
    .title {
        height: 115px;
    }
    .title-text {
        font-size: 3em;
    }
    .shopping-list {
        margin: -63px auto;
    }
}

@media only screen 
and (max-device-width: 460px) 
and (aspect-ratio : 375/559)
and (min-device-pixel-ratio : 2)
and (-webkit-min-device-pixel-ratio : 2){
    .sub-title {
        display: none;
    }

    .check-box, .check-box-checked {
        width: 60px;
    }
    .checked, .unchecked {
        margin: 14% auto 10% auto;
    }
    .item-text {
        padding: 9px 0 0 0.5em;
        width: calc(100% - 70px);
        height: 2.4em;
        font-size: 1.25em;
    }
    .delete {
        margin-top: 8px;
    }
}

@media only screen 
and (min-device-width : 320px)
and (max-device-width : 375px) 
and (aspect-ratio : 375/559)
and (min-device-pixel-ratio : 2)
and (-webkit-min-device-pixel-ratio : 2)
and (orientation : portrait){
    .title {
        height: 150px;
    }
    .title-text {
        font-size: 3.1em;
    }
    .shopping-list {
        margin: -27px auto;
    }
    .item-text {
        padding: 12px 0 0 0.5em;
        height: 3.02em;
        font-size: 1em;
    }
    .delete {
        margin-top: 12px;
    }
}





