* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
}

body {
    background-color: #2AF0CF;
    webkit-font-smoothing: antialiased;
    
}


/*Masthead*/

.masthead {
    margin: 1em auto 0.75em auto;
    width: 60%;
    padding: 0.3em 0 5em 0;
    height: 275px;
    text-align: center;
    display: block;
    
}

.title {
    margin: 0 auto 0.5em auto;
    background-color: white;
    height: 250px;
}

h2 {
    font-size: 1em;
    color: #2AF0CF;
    margin: -4em 0;
}

h1 {
    font-family: Lato;
    font-size: 5.5em;
    color: #2AF0CF;
    margin: 0.6em 0 0.5em 0;
    padding: 0.5em 0;
}


/*Form*/

.input-control {
    margin: 0 0 1em 0;
    display: block;
    height: 1.5em;
    width: 100%;
    font-size: 2em;
}

.list-form[type="text"]{
    padding: 0 0 0 0.5em;
    border: 0;
}

.list-form[type=text]:focus, textarea:focus {
    box-shadow: 0;
    border: 0;
    outline-width: 0;
}

.list-form {
    margin: 0;
    padding: 0 0 0 1em;
    padding: 0;
    height: 100%;
    width: 88.8%;
    vertical-align: middle;
    float: left;
    font-size: 0.8em;
    font-family: Lato;
    border: 0;
}

.btn-container {
    display: inline-block;
    vertical-align: middle;
    width: 10%; /*99px;*/
    height: 100%;
    padding: 0;
    margin: 0;
    float: right;
    position: relative;
    background-color: transparent;
    z-index: 5;
}

.add-btn:hover, .plus {
    background-color: #FF822D;
    transition: background-color 0.5s;
    cursor: pointer;
}

.add-btn {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 0;
}

.plus {
    margin: 0;
    padding: 0 0 0 0;
    height: 0.5em;
    font-size: 1.65em;
    vertical-align: middle;
    background-color: transparent;
    position:absolute;
    top: -18.5%;
    left: 31%;
    pointer-events: none;
}

.plus:hover {
    cursor: pointer;
}




/*List Items*/

.shopping-list {
    margin: 6.3em auto;
    padding: 0;
    width: 100%;
}


.list-item {
    margin: 36px auto 0 auto;
    padding: 0;
    height: 1.5em;
    width: 60%;
    display: none;
}


.check-box {
    background-color: black;
}

.check-box-checked {
    background-color: lightgray;
}

.check-box, .check-box-checked {
    margin: 0 0 0 0;
    width: 10%;
    height: 3em;
    float: left;align-content: 
    vertical-align: middle;
    position: relative;
    
}

.unchecked {
    margin: 10% auto 10% auto;
    height: 66%;
    width: 34px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 100%;
    /*position: absolute;
    top: 16%;
    left: 32%;*/
}

.checked {
    margin: 10% auto 10% auto;
    height: 66%;
    width: 34px;
    border: 3px solid white;
    border-radius: 100%;
    background-image: url(images/checkmark.png);
    background-size: cover;
    /*position: absolute;
    top: 16%;
    left: 32%;*/
    font-size:2.1em;
    color:black;
}

.check-box:hover, .check-box-checked:hover {
    cursor: pointer;
}


.item-text {
    margin: 0 0 0 ;
    padding: 0 0 0 0.5em;
    font-size: 2em;
    font-family: Lato;
    height: 1.5em;
    width: 88.8%;
    background-color: black;
    color: white;
  
    vertical-align: middle;
    float: right;
    position: relative;
}

.text-checked {
    background-color: lightgrey;
    text-decoration: line-through;
    color: black;
}

.delete {
    background-color: transparent;
    position: absolute;
    top: 0.1em;
    right: 1.4em;
    display: none;
}

.delete:hover {
    cursor: pointer;
}





