body, html{
    margin: 0;
    padding: 0;
}

body {
    background-color: #2AF0CF;
}


/*Masthead*/

.masthead {
    margin: 4em auto 0 auto;
    width: 60%;
    padding: 0.3em 0 5em 0;
    height: 194px;
    text-align: center;
    display: block;
    background-color: white;
}

.title {
    margin: 0 auto 2.2em auto;
    height: 194px;
}

h2 {
    font-size: 1em;
    color: #2AF0CF;
    margin: -2em 0;
}

h1 {
    font-family: Lato;
    font-size: 5.5em;
    color: #2AF0CF;
    margin: 0.6em 0 0.5em 0;
}


/*Form*/

.input-control {
    margin: 0 0 1em 0;
    display: block;
    height: 2em;
    width: 100%;
    font-size: 2em;
}

.list-form[type="text"]{
    padding: 0 0 0 0.5em;
    border: 0;
}

.list-form[type=text]:focus, textarea:focus {
    box-shadow: 0;
    border: 0;
    outline-width: 0;
}

.list-form {
    margin: 0;
    padding: 0 0 0 1em;
    padding: 0;
    display: inline-block;
    height: 1.5em;
    width: 85.5%;
    vertical-align: middle;
    float: left;
    font-size: 1.1em;
    font-family: Lato;
    border: 0;
}

.add-btn {
    padding: 0;
    margin: 0 0 0 0.5em;
    display: inline-block;
    vertical-align: middle;
    width: 8.9em;
    height: 4.82em;
    background-color: white;
    border: 0;
    position: relative;  
}

.add-btn:hover {
    background-color: #FF822D;
    transition: background-color 0.5s;
}

.plus {
    margin: 0;
    padding: -6em 0 0 0;
    height: 0.5em;
    font-size: 5em;
    vertical-align: middle;
    position:absolute;
    top: -0.17em;
    left: 0.5em;
}




/*List Items*/

.list-item {
    padding: 0;
    height: 2em;
    
    
}

.item1 {
    background-color: black;
    color: white;
}

.item2 {

}

.item-checked {

}

.check-box {
    margin: 0;
    background-color: #f2f2f2;
    height: 4em;
    border: 1px solid black;
    
    
}

.uncheck {
    
}

.check {

}

.item-text {
    margin: 0;
    padding: 0.35em 0 0 0.75em;
    font-size: 2em;
    font-family: Lato;
    height: 2em;
}

.text-checked {
    text-decoration: line-through;
}




